<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>OpenGL.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>Step1.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>Step10.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>10</integer>
		</dict>
		<key>Step2.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>Step3.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>Step4.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>Step5.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>Step6.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>Step7.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>Step8.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
		<key>Step9.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>9</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>2307F3AF1C3AA75800EA7995</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2307F3BC1C3AA8F700EA7995</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>232AEC291C5F8E41000FB7D0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2355AC121C438A42005885FD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2355AC1F1C43961C005885FD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2355AC2C1C4399B2005885FD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2355AC391C439DB2005885FD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2355AC461C43A15D005885FD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>23C37FB91C6725B1009BF2AC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>23C37FC61C672DCE009BF2AC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>23F91A4A1C31074F004E4D34</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
